/* ここから下に記載していく */
@charset "utf-8";

body{
    background-color:#088A4B;
}

main{
    width:600px;
    margin:0 auto;
    text-align:center;
    font-weight:bold;
}

p{
    text-align: center;
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #fff100;
    width: 400px;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
}


.dealer{
    margin-top: 30px;
    height:160px;
}

.dealer img{
    width:150px;
    height:160px;
}

.player,.container{
    display:flex;
}

.player{
    justify-content:space-between;
}

.player img{
    width:100px;
    height:110px;
    cursor:pointer;
    user-select:none;
}

.container{
    margin:70px 0;
    height:100px;
    line-height:100px;
    justify-content:space-around;
}


.result{
    font-size:48px;
    font-family:Arial, sans-serif;
}


.reset{
    margin: 0 auto;
    display:none;
    margin-top: 30px;
}

.resetButton:hover{
    cursor:pointer;
    user-select:none;
}